<ul>
  <li>ID</li>
  <li>String</li>
  <li>Created At</li>
  <li>Updated At</li>
</ul>

<div data-bind="foreach: streamers">
  <ul>
    <li data-bind="text: id, flashUpdate: {}"></li>
    <li data-bind="text: name, flashUpdate: {}"></li>
    <li data-bind="text: created_at, flashUpdate: {}"></li>
    <li data-bind="text: updated_at, flashUpdate: {}"></li>
  </ul>
</div>
